$main-color: #1a120b; // bgc, bg
$lighter-main-color:#20160e;
$secondary-color: #3c2a21; //hover
$darker-secondary-color: #33241c;
$pure-white: #fff;
$light-white: #eee;
$dark: #2e2e2e; //color
$green-color: #00c900;
$hero-img-color: rgba(0, 0, 0, 0.4);
$white-hover: #cecece;
$text: #d69e84;

$shadow: linear-gradient(45deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
$blue-gradient-solid: linear-gradient(45deg, rgb(25, 17, 10), rgb(61, 43, 33));